body {
    background-color: #99A799;
}

hr {
    
    border-style: dotted none none;
    border-width: 10px;
    border-color: grey;
    height: 0px;
    width: 30%;
}

h1 {
    color: rgb(0, 162, 255);
}

h3 {
    color: rgb(0, 162, 255);
}